@{
    ViewBag.Title = "EasyZ";
}
<link href="~/css/index.css" rel="stylesheet" />
<div class="container main-box">
    <div class="btn btn-success create-button"><a href="/Create-Resume" class="main-link" onclick="showLoader(this)">Create your Resume</a></div>
</div>









